<a href="https://colab.research.google.com/github/abhijeetraj22/TSF-GRIP_Tasks/blob/main/TSF_Task_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#GRIP The Sparks Foundation(TSF)

##Task - 5 Exploratory Data Analysis - Sports

#####In this task, As a sports analysts, I tried to find out the most successful teams, players and factors contributing win or loss of a team.

#####Suggest teams or players a company should endorse for its products. 


##Steps -
 - Step 1 - Importing the Library
 - Step 2 - Importing the Dataset
 - Step 3 - Data Exploration
 - Step 4 - Visualizing the 
 - Conclusion

####Created by - Abhijeet Raj Modanwal

##STEP 1 - Importing the Library

In this step, we will import the Libraries.

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd


##STEP 2 - Importing the Dataset

In [ ]:
mt_df=pd.read_csv('matches.csv')

In [ ]:
#first five rows of dataset
mt_df.head()

In [ ]:
#last five rows of dataset
mt_df.tail()

##STEP 3 - Data Exploration

In [ ]:
#shape of dataset
mt_df.shape

In [ ]:
#columns names of the dataset 
mt_df.columns

In [ ]:
#info of the dataset 
mt_df.info()

In [ ]:
#summary of the data
mt_df.describe()

In [ ]:
#checking null values
mt_df.isnull().sum()

In [ ]:
mt_df.corr()

In [ ]:
print("Number of seasons played:", len(mt_df['season'].unique()))

In [ ]:
print("No. of Matches Played")
mt_df['season'].value_counts()

##STEP 4 - Visualizing the Dataset

In [ ]:
sns.countplot(x='season', data=df)

In [ ]:
sns.countplot(x='winner', data=df)
plt.title('Match Winning Team')
plt.xticks(rotation=90)

In [ ]:
plt.subplots(figsize=(20,10))
sns.countplot(x='venue',data=df,order=df['venue'].value_counts().index)
plt.title('Indian Premier League Venue',fontsize=25)
plt.xlabel('Stadium',fontsize=15)
plt.ylabel('Matches',fontsize=15)
plt.xticks(rotation=-90,fontsize=15)

In [ ]:
plt.figure(figsize=(20,10))

sns.barplot(x=df.player_of_match.value_counts()[:10].index,y=df.player_of_match.value_counts()[:10])
plt.title('Top player of the match winners',fontsize=35)
plt.xlabel('Player',fontsize=25)
plt.ylabel('Match',fontsize=25)

In [ ]:
plt.subplots(figsize=(20,10))

sns.countplot('winner',data=df)
plt.title('Champion Teams',fontsize=35)
plt.xlabel('Teams',fontsize=15)
plt.ylabel('Season won',fontsize=15)
plt.xticks(rotation=-90,fontsize=15)
plt.show()


##***Conclusion***


- Mumbai Indians plays the highest amount of matches and has won more seasons than the other teams.
- Chennai Super Kings ranked the second highest in winning matches followed by Kolkata Night Riders.
- Eden Garden hosts the highest number of matches followed by M Chinnaswamy Stadium and Wankhede Stadium.
- Chris Gayle won the most MVP awards in Indian Premier League.